include c2207
	title tynra:re CV █▮ 2207 Языки

body.c2207.d29: #frontdoor
	bb.header
		a.button.door.exit(href="./index.pug") <-⼾ 
	bb.text
		include:markdown-it c2207.md
		p#silence █.

	bb.stamp █▮ tynra:re CV 2207