#tyndustre-1,
#title {
  overflow: clip;
}

#tyndustre-1 {
  font-family: "Azeret Mono";

  background-color: var(--dust-color-0);
  color: var(--dust-color-1);

  width: 100%;
  height: 100%;

  display: flex;

  .margin-auto {
    margin: auto;
  }

  #title {
    z-index: 1;
    padding: 0.3em;
    font-size: 100px;
    position: absolute;
    bottom: 0;
  }

  #credits {
    z-index: 1;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;

    text-transform: uppercase full-width;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1vh;
  }

  kbd {
    width: max-content;
    border-radius: 3px;
    padding: 0.3em;
    opacity: 0.5;
    display: flex;

    & > * {
      margin: auto;
    }
  }
}
