// # Dust 220529

.dust-220539 {
  background-color: var(--color-0);
  color: var(--color-1);

  #frontdoor {
    display: flex;
    flex-direction: column;

    stamp {
      color: var(--color-1);
      box-shadow: 0px 2px 0px 0px var(--color-1);
      padding: 0.2em 0.5em;
      margin: auto 0 0 auto;
    }

    header {
      font-size: 2em;
      margin-left: -1em;
      margin-bottom: 1em;
      display: flex;
    }

    
    a.right {
      margin: auto 0 0 auto;
    }

    a.button {
      font-size: 0.5em;
      color: var(--color-2);
      background-color: var(--color-0);
      width: fit-content;
      padding: 0.2em 0.5em;
      cursor: pointer;
      transition-duration: 100ms;
      box-shadow: 0px 2px 0px 0px var(--color-2);

      &.exit {
        margin: auto 0 0 auto;
      }

      &:hover {
        transform: scale(1.5, 1);
        color: var(--color-2);
      }

      &:active {
        transform: scale(1.1);
        color: var(--color-0);
      }

      &:before {
        content: '█. ';
      }
    }


    @font-face {
      font-family: "Azeret";
      src: url("./styles/AzeretMono-VariableFont_wght.ttf");
    }

    font-family: "Azeret";

    @font-face {
      font-family: "Flow";
      src: url("./styles/FlowRounded-Regular.ttf");
    }

    font-family: "Flow", "Azeret";
  }
}
