html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: clip;
}

:root {
  --color-0: #ffffe4;
  --color-1: #323d4f;
  --color-2: #d9243c;
}

#frontdoor {
  margin: auto;
  width: 512px;
  height: 512px;
  position: relative;
}

canvas#main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}