extends pages/layout

block headcontent
	title Timothy Borisov ▮
	
block content
	#tyndustre-0
		#title ▮ generalist game developer 
		canvas#main
		#credits
			a(href='https://t.me/tynrare') 
				kbd
					img(src='/res/icon-telegram.png')
					p tynrare
			a(href='https://tynrare-cv-0.netlify.app/')
				kbd
					img(src='/res/icon-external_link.png')
					p CV
