include ./c2207.pug
	title Timothy Borisov █▮ 2204
	script(type="module", src="./index.js" async defer)

body.c2207
	#frontdoor
		bb#title.text ▮ tynra:re
		canvas#main
		bb.text
			a(href='https://t.me/tynrare') 
				p.kbd █. contact
			a(href='https://play.tynrare.net')
				p.kbd █. play
			a(href='./d2207-cv.pug')
				p.kbd █. cv
			
			//- [CV for CO](https://tynrare-cv-0.netlify.app/)