extends pages/layout

block headcontent
	title Timothy Borisov ▮▮ 2204
	
block content
	#tyndustre-0
		#title 
			pre ▮ □□□□□□ ██□□□□□□███           █▮▮▮▮            □□□□□□            ▮▮▮▮   ▮▮▮□□□□□█████         █████□▮▮███████▮□□□▮█████████▮▮▮█ ███ ███ ███▮▮▮▮███▮▮▮ ▮gg             日████████████████████████ D ▮▮ ▮▮ ▮▮ ▮▮ ▮▮ 
		canvas#main
		#credits
			a(href='https://t.me/tynrare') 
				kbd timchin □█□
			a(href='https://tynrare-cv-0.netlify.app/')
				kbd
					p ▮▮    □█□
