include header
	title Timothy Borisov ▮▮ 2204
body.fancy
	#frontdoor
		#title: pre ▮. tynrare
		canvas#main
		#credits
			a(href='https://t.me/tynrare') 
				kbd: P █. contact
			a(href='https://play.tynrare.net')
				kbd: p █. play
			a(href='https://tynrare-cv-0.netlify.app/')
				kbd: p █. cv