extends views/layout

block headcontent
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/water.css@2/out/water.css')

block content
	#tyn_root
		.full_page_container
			#tyn_header_root
				include:remarkable /res/text/main.md
		#tyn_gallery_root
			h1 🎨Gallery
			h2 Clips
			#tyn_gallery_clips
				.clips_row.move_left
				.clips_row.move_left
				.clips_row.move_left
			code 💡 Playback issues? Watch on 
				a(href="https://twitter.com/search?q=(%23portfolio_clips)%20(from%3Atynrare)&f=video") Twitter
				|  or 
				a(href="https://youtube.com/playlist?list=PL9r7mG-N0wRSnWNLvsWOIvzYBeGFHmqFO") Youtube
			h2 Screenshots
			#tyn_gallery_screenshots
				.screenshots_row.move_left
				.screenshots_row.move_left
			h2 Artworks
