include header
	title Timothy Borisov ▮▮ 2204
	script(type="module", src="./index.js" async defer)

body.dump-220529
	#frontdoor
		#title: pre ▮. tynrare
		canvas#main
		#credits
			a(href='https://t.me/tynrare') 
				kbd: P █. contact
			a(href='https://play.tynrare.net')
				kbd: p █. play
			a(href='./dust-220529.pug')
				kbd: p █. cv
			
			//- [CV for Chosen One](https://tynrare-cv-0.netlify.app/)