extends pages/layout

block headcontent
	title Timothy Borisov ▮
	
block content
	#tyndustre-0
		#title generalist game developer
		canvas#main
		#credits
			kbd
				img(src='/res/icon-telegram.png')
				a(href='https://t.me/tynrare') tynrare
			kbd
				img(src='/res/icon-external_link.png')
				a(href='https://tynrare-cv-0.netlify.app/') CV
